<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<!-- console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} 
				- %msg%n</pattern> -->
			<pattern>%d [%t] %-5p [%c{30}:%L] - %m%n</pattern>
		</encoder>
	</appender>
	<!-- file appender -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/logs/futuredata/architecture/product/architecture.log</File>
		<encoder>
			<pattern>%d [%t] %-5p [%c:%L] - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>/logs/futuredata/architecture/product/architecture%i-log.zip
			</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>12</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

    <!-- 线上环境日志都是WARN级别 -->
	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
</configuration>